.editor {
   height: 100%;

   color: var(--on-bg);
   background-color: var(--clr-bg);

   border-right: 1px solid var(--clr-bg-elevated);
}

.preview {
   color: var(--on-bg);
   background-color: var(--clr-bg);

   border-left: 1px solid var(--clr-bg-elevated);

   div {
      padding: 1rem;
   }
}

.noFile {
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   font-size: 3rem;
}
