.folder {
   padding: 0;
   width: 100%;

   .heading {
      font-size: 1.25rem;
      font-weight: bold;

      display: flex;
      flex-direction: row;
      align-items: center;

      cursor: pointer;

      * {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
      }

      .leftIcon {
         margin-right: 0.5rem;
      }

      .name {
         margin-left: 0.5rem;
      }

      .rightIcon {
         margin-left: auto;
         margin-right: 0;
         transition: 0.2s ease-in-out;
      }
   }

   .items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      padding-left: 1rem;

      overflow: hidden;

      transition: height 0.2s ease-in-out;

      .item {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;

         padding: 0.5rem;

         color: var(--on-bg);
         background-color: var(--clr-bg);

         &:hover {
            color: var(--on-bg);
            background-color: var(--clr-bg-elevated);
         }
      }
   }
}
