.container {
   width: 100vw;
   height: 100vh;

   display: grid;
   grid-template-columns: repeat(24, 1fr);
   grid-template-rows: repeat(24, 1fr);

   .header {
      grid-column: 1 / span 24;
      grid-row: 1 / span 3;

      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(1, 1fr);
      place-items: center;
      place-content: center;

      color: var(--on-bg);
      background-color: var(--clr-bg);

      .brand {
         grid-column: 1 / span 4;
         grid-row: 1 / span 1;
      }

      .user {
         grid-column: 20 / span 4;
         grid-row: 1 / span 1;

         position: relative;

         .title {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--clr-bg-elevated);
            color: var(--on-bg-elevated);
         }

         &:hover {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .dropdown {
               display: block;
            }
         }

         .dropdown {
            display: none;
            position: absolute;
            list-style: none;

            width: 100%;
            margin: 0;
            padding: 0;
            padding-top: 0.5rem;

            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;

            background-color: var(--clr-bg-elevated);
            color: var(--on-bg-elevated);

            * {
               padding: 0.5rem;
               width: 100%;

               &:last-child {
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;
               }
            }

            .logout {
               &:hover {
                  background-color: var(--clr-primary);
                  color: var(--on-primary);
               }
            }
         }
      }
   }

   .sidebar {
      grid-column: 1 / span 3;
      grid-row: 4 / span 21;

      display: grid;
      grid-template-columns: repeat(1, 1fr);

      color: var(--on-bg);
      background-color: var(--clr-bg);
   }

   .main {
      grid-column: 4 / span 21;
      grid-row: 4 / span 21;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);

      color: var(--on-bg);
      background-color: var(--clr-bg);

      .editor {
         grid-column: 1 / 2;

         height: 100%;

         color: var(--on-bg);
         background-color: var(--clr-bg);
      }

      .preview {
         grid-column: 2 / 3;

         color: var(--on-bg);
         background-color: var(--clr-bg);

         div {
            padding: 1rem;
         }
      }
   }
}
