.container {
   width: 100vw;
   height: 100vh;

   display: grid;
   grid-template-columns: repeat(24, 1fr);
   grid-template-rows: repeat(24, 1fr);

   .header {
      grid-column: 1 / span 24;
      grid-row: 1 / span 3;

      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(1, 1fr);
      place-items: center;
      place-content: center;

      .brand {
         grid-column: 1 / span 4;
         grid-row: 1 / span 1;

         .logo {
            img {
            }
         }
      }

      color: var(--on-bg);
      background-color: var(--clr-bg);
   }

   .sidebar {
      grid-column: 1 / span 3;
      grid-row: 4 / span 21;

      display: grid;
      grid-template-columns: repeat(1, 1fr);

      color: var(--on-bg);
      background-color: var(--clr-bg);
   }

   .main {
      grid-column: 4 / span 21;
      grid-row: 4 / span 21;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);

      color: var(--on-bg);
      background-color: var(--clr-bg);

      .editor {
         grid-column: 1 / 2;

         height: 100%;

         color: var(--on-bg);
         background-color: var(--clr-bg);
      }

      .preview {
         grid-column: 2 / 3;

         color: var(--on-bg);
         background-color: var(--clr-bg);

         div {
            padding: 1rem;
         }
      }
   }
}
